
.nytlogo {
    margin-top: 7rem;
    margin-bottom: 2rem;
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    padding: 2rem;

@include tablet {
        margin-left:30%;
        margin-top: 4rem;
        display:flex;
        flex-flow:row wrap;
    
@include desktop {
        margin-left:5%;
}
}
}

  .logo {
        height: 200px;
    @include tablet {
        height: 125px;
    @include desktop {
        height: 200px;
    }
    }
    }


h2{
    margin: 1rem;
}
.choose {
    margin-bottom: 1rem;
    font-family: "open_sanslight";
    margin:0 auto;
    border-radius: 2px;
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.dropdown {
    width: 100px;
    align-self: center;
}

.loader {
   height: 2rem;
    width: 2rem;
    margin: 2rem;
    align-self: center;
    display:none;
}