@import "reset"; 
@import "fonts";




body {
    background-color:black;
    color: white;
    text-align: center;
    display:flex;
    flex-flow: column wrap;
    font-size: 16px;
}

.nytlogo {
    height:200%;
    margin-top: 7rem;
    margin-bottom: 2rem;
}

h2{
    margin: 1rem;
}
.choose {
    margin-bottom: 1rem;
    font-family: "open_sanslight";
    margin:0 auto;
    border-radius: 2px;
}



.nytArticles {
    //display:flex;
    //flex-flow: row wrap;
}
.abstract {
  
    color: #fff;
    background: rgba(0,0,0,.5);
    max-width: 286px;
    position: absolute;
    padding: 2rem;
    text-align: left;
}

.images {
    height: 400px;
    width:350px;
   // margin-top: 20%;
    background-size: cover;
    background-repeat: no-repeat;
   
}


footer {
font-family: "open_sanslight";
margin-top: 8rem;
color: #c2c2c2;
}


@media all and (max-width: 600px) {

    body {
    
        flex-flow: row wrap;
        max-width: 600px;
    
    }
    p {
        text-align:right;
    }
    .nytlogo {
        margin-left:30%;
    }

    .content {
        display:flex;
        flex-flow: row wrap;
    }

    .choose{
        //margin-top: 30%;
        flex: 2;
    }
    .li {
        flex: 0 1 50%;
    }
    footer{
    width: 100%;
    }
}

@media all and (min-width: 1240px){

    

    .nytlogo {
        margin-left:10%;

    }

    p {
        text-align:left;
       // margin-left: 10%;
    }

    .images {
        width: 320px;
    }

    .abstract {
        max-width: 256px;
    }

    .li {
        flex: 0 1 25%;
    }
}
